<h1>All blogs page</h1>

<div>
    <div ng-repeat="blog in blogs">
    <a href="#posts/{{blog.id}}"><span id="blgId">{{blog.id}}</span></a>
    <span id="blgTitle">{{blog.title}}: </span>
    <span id="blgAuthor">{{blog.author}}: </span>
    <span id="blogContent">{{blog.content}}- </span>
    <span id="blogCreated">{{blog.createdAt | date: 'M/dd h:mm'}}</span>
    </div>
<p>
    <button ng-click="newPostPage()">Create new post</button>
</p>

  <!-- post above is defined for the route params. >-->